.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.blank{
  color: red;
}


.herobtn{
  width: 5px;
  -webkit-transition: width 0.5s;
    transition: width 0.5s;
    
}
.nav-item a{
  text-decoration: none;
  margin: 0 10px;  
}
.nav-item a:hover{
  color: grey;
}
.dropdown-menu a:hover{
  background-color: transparent;
  color: blue;
}
.accordion-item{
  text-align: center;
}
.accordion-body svg{
      margin: 0 80px;
      font-size: 3em;
}
.herobtn:hover{
  width: 50px;
}
.herobtn:hover::after{
  content: white;
  color: white;
}